{{#extend "layout"}}
  {{#content "title"}}
    Bienvenue sur La malle 
  {{/content}}
  {{#content "body"}}
    <h2 style="color: #333333; font-size: 20px;">
      Confirmez afin de réinitialiser votre mot de passe
    </h2>
    <p style="color: #666666; font-size: 16px; line-height: 1.5;">
      Pour réinitialiser votre mot de passe, cliquez sur le bouton ci-dessous :
    </p>
    <div style="text-align: center; margin: 40px 0;">
      <a href="{{confirmationLink}}" style="background-color: #FF915D; color: #ffffff; text-decoration: none; padding: 15px 30px; border-radius: 5px; font-size: 18px; display: inline-block;">
        Confirmez afin de réinitialiser votre mot de passe
      </a>
    </div>
    <p style="color: #666666; font-size: 14px; line-height: 1.5;">
      Si vous n'avez pas demandé ce changement, veuillez ignorer cet e-mail.
    </p>
  {{/content}}
{{/extend}}
