{{#extend "layout"}}
  {{#content "title"}}
    Bienvenue sur La malle 
  {{/content}}
  {{#content "body"}}
    <h2 style="color: #333333; font-size: 20px;">
      Confirmez votre adresse email
    </h2>
    <p style="color: #666666; font-size: 16px; line-height: 1.5;">
      {{#if isUpdate}}
        Merci de mettre à jour votre adresse email sur notre application. Pour finaliser cette opération, veuillez confirmer votre nouvelle adresse e-mail en cliquant sur le bouton ci-dessous :
      {{else if isSignup}}
        Merci de vous être inscrit sur notre application. Pour finaliser votre inscription, veuillez confirmer votre adresse e-mail en cliquant sur le bouton ci-dessous :
      {{/if}}
    </p>
    <div style="text-align: center; margin: 40px 0;">
      <a href="{{confirmationLink}}" style="background-color: #FF915D; color: #ffffff; text-decoration: none; padding: 15px 30px; border-radius: 5px; font-size: 18px; display: inline-block;">
        Confirmez votre adresse email
      </a>
    </div>
    <p style="color: #666666; font-size: 14px; line-height: 1.5;">
      Si vous n'avez pas demandé ce changement, veuillez ignorer cet e-mail.
    </p>
  {{/content}}
{{/extend}}
